@if (!sendMailFlag) {
  <div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
    <div class="w-50 m-auto p-5">
      <h1 class="text-center mb-4">Forget Password</h1>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword(forgetPasswordForm)">
        <div class="p-3">
          <input formControlName="email" class="form-control" type="email" placeholder="email">
          @if (forgetPasswordForm.get('email')?.errors !== null && forgetPasswordForm.get('email')?.touched) {
            @if (forgetPasswordForm.get('email')?.errors?.['required']) {
              <p class="text-danger mt-2">email required</p>
            }
            @if (forgetPasswordForm.get('email')?.errors?.['email']) {
              <p class="text-danger mt-2">invalid email</p>
            }
          }
          @if (emailError !== '') {
            <p class="text-danger mt-2">{{ emailError }}</p>
          }
        </div>
        <br><br>
        @if (completeSendFlag) {
          <p class="text-danger mt-2">Sending...</p>
        }
        <button [disabled]="completeSendFlag" class="btn btn-danger d-block form-control w-50 m-auto p-2">Send Mail
        </button>
      </form>
    </div>
  </div>
} @else if (sendMailFlag && !verifyCodeFlag) {
  <div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
    <div class="w-50 m-auto p-5">
      <h1 class="text-center mb-4">Reset Code</h1>
      <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode(verifyCodeForm)">
        <div class="p-3">
          <input formControlName="resetCode" class="form-control" type="text" placeholder="Reset Code">
          @if (verifyCodeForm.get('resetCode')?.errors !== null && verifyCodeForm.get('resetCode')?.touched) {
            @if (verifyCodeForm.get('resetCode')?.errors?.['required']) {
              <p class="text-danger mt-2">Code Required</p>
            }
          }
          @if (emailError !== '') {
            <p class="text-danger mt-2">{{ emailError }}</p>
          }
        </div>
        <br>
        <button [disabled]="verifyCodeForm.invalid" class="btn btn-danger d-block form-control w-50 m-auto p-2">Verify
          Code
        </button>
      </form>
    </div>
  </div>
} @else if (verifyCodeFlag) {
  <div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
    <div class="w-50 m-auto p-5">
      <h1 class="text-center mb-4">Reset Password</h1>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
        <div class="p-3">
          <input formControlName="password" class="form-control" type="password" placeholder="password">
          @if (resetPasswordForm.get('password')?.errors !== null && resetPasswordForm.get('password')?.touched) {
            @if (resetPasswordForm.get('password')?.errors?.['required']) {
              <p class="text-danger mt-2">Password Required</p>
            }
            @if (resetPasswordForm.get('password')?.errors?.['minlength'] || resetPasswordForm.get('password')?.errors?.['maxlength']) {
              <p class="text-danger mt-2">password length 6 :2 0</p>
            }
          }
        </div>
        <div class="p-3">
          <input formControlName="confirmPassword" class="form-control" type="password" placeholder="confirm password">
          @if (resetPasswordForm.get('confirmPassword')?.errors !== null && resetPasswordForm.get('confirmPassword')?.touched) {
            @if (resetPasswordForm.get('confirmPassword')?.errors?.['required']) {
              <p class="text-danger mt-2">Password Required</p>
            }
            @if (resetPasswordForm.get('confirmPassword')?.errors?.['minlength'] || resetPasswordForm.get('confirmPassword')?.errors?.['maxlength']) {
              <p class="text-danger mt-2">password length 6 :2 0</p>
            }
          }
          @if (emailError !== '') {
            <p class="text-danger mt-2">{{ emailError }}</p>
          }
        </div>
        <br>
        <button class="btn btn-danger d-block form-control w-50 m-auto p-2">Reset Password</button>
      </form>
    </div>
  </div>
}
